<div *ngIf="repo">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ repo.name }}</mat-card-title>
			<mat-card-subtitle>By 
				<a routerLink="/{{repo.owner}}/list">
					<img mat-card-avatar [src]="repo.owner_avatar_url" 
					[alt]="repo.owner+' avatar'" class="avatar">
					{{ repo.owner }}
				</a>
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<div>Stats:</div>
			<div>Watchers: {{ repo.watchers_count }}</div>
			<div>Stars: {{ repo.stargazers_count }}</div>
			<p>{{ repo.description }}</p>
		</mat-card-content>

		<mat-card-actions>
			<button mat-button><a [href]="repo.url" target="_blank">GitHub page</a></button>
		</mat-card-actions>
	</mat-card>
</div>