<div *ngIf="repo">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ repo.name }}</mat-card-title>
			<mat-card-subtitle>By 
				<img mat-card-avatar [src]="repo.owner_avatar_url" 
				[alt]="repo.owner+' avatar'" class="avatar">
				{{ repo.owner }}
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<span aria-label="Watchers" title="Watchers">👁️</span>: <span aria-label="watcher count">{{ repo.watchers_count }}</span>
			<span aria-label="Stars" title="Stars">⭐</span> <span aria-label="starred count">{{ repo.stargazers_count }}</span>
			<p>{{ repo.description }}</p>
		</mat-card-content>

		<mat-card-actions>
			<button mat-button><a [href]="repo.url" target="_blank">GitHub page</a></button>
		</mat-card-actions>
	</mat-card>
</div>