.container.two {
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	column-gap: 2em;
}

.list-selectable.container {
	/*max-width: 40em;*/
	overflow-x: scroll;
	height: 100%;
}

.card-aside.container app-repo-detail {
	max-width: 26em;
	position: fixed;
}

.focus {
	margin: auto;
	width: 100px;
}

@media (max-width: 40em) {
	.container.two {
		display: block;
	}

	.list-selectable.container {
		width: 100%;
	}

	.card-aside.container app-repo-detail {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.card-aside.container button.close {
		display: inline;
	}
}