<h2>{{ orgSearch }}'s related repositories</h2>

<div class="list-selectable container">
	<mat-selection-list #repos [multiple]="false" *ngIf="related">
		<mat-list-option *ngFor="let repo of related.repositories" 
		[value]="repo" (click)="onSelect(repo)">
			<div mat-line>{{ repo.name }}</div>
			<div mat-line>{{ repo.description }}</div>
		</mat-list-option>
	</mat-selection-list>
</div>
<div class="focus center" *ngIf="!related">
	<mat-spinner></mat-spinner>
	<p>Searching for repos...</p>
</div>

<div class="card-aside container">
	<app-repo-detail [repo]="selectedRepo"></app-repo-detail>
</div>